.timerBox {
    margin: 200px 0px;
    width: auto;
    height: auto;
}

h1 {
    color: teal;
    font-family: monospace;
    font-size: 34px;
}

button {
    height: 30px;
    width: 70px;
    margin: 0 20px;
    padding: 5px 15px;
    border: 1px solid teal;
    background-color: transparent;
    color: teal;
    font-size: 14px;
}